### Deliverable 1: Preprocessing the Data for a Neural Network

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
new_application_df = application_df.drop(['EIN'], axis=1)
new_application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Determine the number of unique values in each column.
application_cat = new_application_df.dtypes[new_application_df.dtypes == "object"].index.tolist()
new_application_df[application_cat].nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = new_application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [16]:
# Look at NAME value counts for binning
name_counts = new_application_df.NAME.value_counts()
name_counts

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
HOUSING ARTS N DEVELOPMENT SERVICES                   1
MARION LONG TERM RECOVERY PROGRAM INC                 1
DENVER WORLD AFFAIRS COUNCIL                          1
LUBBOCK AREA LIGHTS ABWA                              1
TELUGU SOCIETY OF AMERICA INC                         1
Name: NAME, Length: 19568, dtype: int64

In [18]:
# Determine which values to replace if counts are less than ...?
replace_names = list(name_counts[name_counts < 400].index)

# Replace in dataframe
for name in replace_names:
    new_application_df.NAME = new_application_df.NAME.replace(name,"Other")
    
# Check to make sure binning was successful
new_application_df.NAME.value_counts()

Other                                              30674
PARENT BOOSTER USA INC                              1260
TOPS CLUB INC                                        765
UNITED STATES BOWLING CONGRESS INC                   700
WASHINGTON STATE UNIVERSITY                          492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC      408
Name: NAME, dtype: int64

In [19]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_counts[application_counts < 175].index)

# Replace in dataframe
for app in replace_application:
    new_application_df.APPLICATION_TYPE = new_application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
new_application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
class_counts = new_application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [21]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1880].index)

# Replace in dataframe
for cls in replace_class:
    new_application_df.CLASSIFICATION = new_application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
new_application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [22]:
# Generate our categorical variable lists
application_cat = new_application_df.dtypes[new_application_df.dtypes == "object"].index.tolist()
new_application_df[application_cat].nunique()

NAME                      6
APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [23]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(new_application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [24]:
# Merge one-hot encoded features and drop the originals
new_application_df = new_application_df.merge(encode_df,left_index=True, right_index=True)
new_application_df = new_application_df.drop(application_cat,1)
new_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_Other,NAME_PARENT BOOSTER USA INC,NAME_TOPS CLUB INC,NAME_UNITED STATES BOWLING CONGRESS INC,NAME_WASHINGTON STATE UNIVERSITY,APPLICATION_TYPE_Other,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Split our preprocessed data into our features and target arrays
y = new_application_df["IS_SUCCESSFUL"].values
X = new_application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [26]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="tanh"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                4000
_________________________________________________________________
dense_1 (Dense)              (None, 40)                3240
_________________________________________________________________
dense_2 (Dense)              (None, 20)                820
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 21
=================================================================
Total params: 8,081
Trainable params: 8,081
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Define the checkpoint path and filenames
os.makedirs("checkpoints_3/",exist_ok=True)
checkpoint_path = "checkpoints_3/weights.{epoch:02d}.hdf5"

In [29]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    monitor="accuracy",
    mode="max",
    verbose=1,
    save_weights_only=True,
    save_freq="epoch",
    period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7227
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7290
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7308
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7305
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7311

Epoch 00005: saving model to checkpoints_3/weights.05.hdf5
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7327
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7331
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7341
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7355
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7340

Epoch 00010: saving model to checkpoints_3/weights.10.hdf5
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7358
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5301 - accuracy: 0.7365
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7361
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7363
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7375

Epoch 00015: saving model to checkpoints_3/weights.15.hdf5
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7386
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7381
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5273 - accuracy: 0.7374
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5268 - accuracy: 0.7388
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5264 - accuracy: 0.7387

Epoch 00020: saving model to checkpoints_3/weights.20.hdf5
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5265 - accuracy: 0.7387
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5260 - accuracy: 0.7393
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5256 - accuracy: 0.7392
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5256 - accuracy: 0.7381
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5248 - accuracy: 0.7393

Epoch 00025: saving model to checkpoints_3/weights.25.hdf5
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5249 - accuracy: 0.7389
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5245 - accuracy: 0.7397
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5244 - accuracy: 0.7398
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5243 - accuracy: 0.7398
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5239 - accuracy: 0.7396

Epoch 00030: saving model to checkpoints_3/weights.30.hdf5
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5237 - accuracy: 0.7404
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5238 - accuracy: 0.7393
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5236 - accuracy: 0.7394
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5235 - accuracy: 0.7402
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5233 - accuracy: 0.7400

Epoch 00035: saving model to checkpoints_3/weights.35.hdf5
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5235 - accuracy: 0.7398
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5231 - accuracy: 0.7401
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5229 - accuracy: 0.7402
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5230 - accuracy: 0.7406: 0s - loss: 0.5262 -
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7402

Epoch 00040: saving model to checkpoints_3/weights.40.hdf5
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5225 - accuracy: 0.7413
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7409
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5222 - accuracy: 0.7406
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5221 - accuracy: 0.7409
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5222 - accuracy: 0.7406

Epoch 00045: saving model to checkpoints_3/weights.45.hdf5
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5220 - accuracy: 0.7416
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5221 - accuracy: 0.7405
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5222 - accuracy: 0.7406
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5220 - accuracy: 0.7410
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5217 - accuracy: 0.7410

Epoch 00050: saving model to checkpoints_3/weights.50.hdf5
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5219 - accuracy: 0.7409
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5215 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5216 - accuracy: 0.7405: 0s - loss: 0.5214 - accuracy: 0.74
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5214 - accuracy: 0.7409: 0s - loss: 0.5
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5213 - accuracy: 0.7411

Epoch 00055: saving model to checkpoints_3/weights.55.hdf5
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5212 - accuracy: 0.7414
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5214 - accuracy: 0.7419
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5214 - accuracy: 0.7418
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5213 - accuracy: 0.7411
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5210 - accuracy: 0.7415

Epoch 00060: saving model to checkpoints_3/weights.60.hdf5
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5211 - accuracy: 0.7408
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5210 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5206 - accuracy: 0.7415
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5205 - accuracy: 0.7407
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5208 - accuracy: 0.7420

Epoch 00065: saving model to checkpoints_3/weights.65.hdf5
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5207 - accuracy: 0.7419
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5205 - accuracy: 0.7418
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5202 - accuracy: 0.7414
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5205 - accuracy: 0.7418
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5208 - accuracy: 0.7405

Epoch 00070: saving model to checkpoints_3/weights.70.hdf5
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5207 - accuracy: 0.7409
Epoch 72/100

804/804 [==============================] - 1s 2ms/step - loss: 0.5201 - accuracy: 0.7421
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5202 - accuracy: 0.7420
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5201 - accuracy: 0.7421
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5202 - accuracy: 0.7419

Epoch 00075: saving model to checkpoints_3/weights.75.hdf5
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5200 - accuracy: 0.7417
Epoch 77/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5200 - accuracy: 0.7419
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5203 - accuracy: 0.7417
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5201 - accuracy: 0.7417: 0s - loss: 0.5200 - accuracy: 0.74 - ETA: 0s - loss: 0.5206
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5197 - accuracy: 0.7422

Epoch 00080: saving model to checkpoints_3/weights.80.hdf5
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5198 - accuracy: 0.7417
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5197 - accuracy: 0.7414
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5200 - accuracy: 0.7414
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5195 - accuracy: 0.7417
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5197 - accuracy: 0.7420

Epoch 00085: saving model to checkpoints_3/weights.85.hdf5
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5195 - accuracy: 0.7420
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5197 - accuracy: 0.7420
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5197 - accuracy: 0.7418
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5198 - accuracy: 0.7418
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5201 - accuracy: 0.7418

Epoch 00090: saving model to checkpoints_3/weights.90.hdf5
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5196 - accuracy: 0.7414
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5198 - accuracy: 0.7411
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5197 - accuracy: 0.7416
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5195 - accuracy: 0.7416
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5196 - accuracy: 0.7420

Epoch 00095: saving model to checkpoints_3/weights.95.hdf5
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5193 - accuracy: 0.7418:
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5191 - accuracy: 0.7419
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5203 - accuracy: 0.7425
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5194 - accuracy: 0.7415
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5195 - accuracy: 0.7431

Epoch 00100: saving model to checkpoints_3/weights.100.hdf5

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5407 - accuracy: 0.7257
Loss: 0.5406931638717651, Accuracy: 0.7257142663002014

In [32]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_2.h5")